# ===============================
# Gradle
# ===============================

# Caches locais e builds
.gradle/
**/build/
!gradle/wrapper/gradle-wrapper.jar

# Não ignore arquivos essenciais
!gradlew
!gradlew.bat
!build.gradle
!settings.gradle

# ===============================
# IDEs e Ferramentas
# ===============================

# Spring Tool Suite (STS)
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

# IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# Visual Studio Code
.vscode/

# ===============================
# Outras
# ===============================
# Arquivos temporários do SO
.DS_Store
Thumbs.db
